/* Задание рабочей области сайта */
.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-width: 700px;
    background-repeat: repeat;
    background-image: url('./src/images/background-sprite.png');
    background-size: 64px;
    justify-content: space-between;
    align-items: center;
}

/* Шапка сайта */
.header {
    margin: 20px;
    width: 90%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;

}

/* Блок по центру с внутренним центрированием по вертикали */
.header-center {
    margin: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(63 56 81);
    border-radius: 10px;
}

/* Размеры изображений логотипа и названия */
.header-center-logo {
    width: 150px;
    height: 150px;
}

.header-center-logo-text {
    width: 500px;
    height: 125px;
}

/* Центральная часть сайта */
.center {
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    float: center;
    margin: auto;
    flex-grow: 75;
    padding: 2%;
    background-color: rgb(63 56 81);
}

/* Холст игровой области */
.center-game-canvas-block {
    margin: auto;
    margin-bottom: 25px;
    width: 85%;
    height: auto;
    border: 2 px double rgb(255, 255, 255);

}

/* Блок с изображением инструкции */
.control-instruction-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}

/* Настройка размеров изображения с инструкцией */
.control-instruction-image {
    width: 100%;
}

/* Стиль для текста с описанием игры */
.game-description-text {
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(254, 183, 29);
}

/* Заключительные слова */
.end-words {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}

/* Стиль заключительных слов */
.end-words-text {
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(254, 183, 29);
    font-style: oblique;
}

/* Нижний колонтитул с выравниванием по правой стороне */
.footer {
    width: 90%;
    padding-left: 30pt;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 20;
}

/* Блок с копирайт текстом */
.footer-copyrights {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* Блок с копирайт текстом */
.footer-copyrights-text {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(63 56 81);
    font-size: 20pt;
}